:root {
  --cell-size: 120px;
  --cell-gutter: 60px;
  --mobile-cell-size: 85px;
  --mobile-cell-gutter: 15px;
}

.whackabug.grid {
  height: calc(var(--cell-size) * 3 + var(--cell-gutter));
  width: calc(var(--cell-size) * 3 + var(--cell-gutter));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.whackabug .cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.whackabug .bug {
  background-image: url("img/bug.png");
}

.whackabug .splat {
  background-image: url("img/bug-splat.png");
}

@media screen and (max-width: 700px) {
  .whackabug.grid {
    height: calc(var(--mobile-cell-size) * 3 + var(--mobile-cell-gutter));
    width: calc(var(--mobile-cell-size) * 3 + var(--mobile-cell-gutter));
  }

  .whackabug .cell {
    height: var(--mobile-cell-size);
    width: var(--mobile-cell-size);
  }
}
