<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }} - Arcade Games</title>

<link
  rel="shortcut icon"
  href="{{'favicon.png' | relative_url }}"
  type="image/x-icon"
/>

<link rel="stylesheet" href="{{ 'common/style.css' | relative_url }}" />
{% if page.title == 'Tris' %}
<link rel="stylesheet" href="{{ 'tris/style.css' | relative_url }}" />
{% endif %} {% if page.title == 'Memory' %}
<link rel="stylesheet" href="{{ 'memory/style.css' | relative_url }}" />
{% endif %} {% if page.title == 'Whack a bug' %}
<link rel="stylesheet" href="{{ 'whackabug/style.css' | relative_url }}" />
{% endif %}
