---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container game">
      <div class="game-data">
        <a
          class="text-small inline-block mb1"
          href="{{ 'index.html' | relative_url }}"
          >&lt;&lt; back</a
        >
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
      <div class="game-area">{{ content }}</div>
    </div>

    {% include footer.html %}
  </body>
</html>
