---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container game">
      <div class="game-data">
        <div class="game-header">
          <a
            class="text-small inline-block mb1"
            href="{{ 'index.html' | relative_url }}"
            >&lt;&lt; back</a
          >
          <a id="reload" class="text-small inline-block mb1" href="#">
            reload</a
          >
          {% if page.title == 'Memory' %}
          <p class="text-small inline-block mb1">
            error: <span class="text-pink" id="error"></span>
          </p>
          {% endif %} {% if page.title == 'Whack a bug' or page.title ==
          'Running Duck' or page.title == 'Space Invaders' %}
          <div class="score-time">
            {% if page.title == 'Whack a bug' %}
            <p class="text-small inline-block">
              time: <span class="text-pink" id="timer-display"></span>
            </p>
            {% endif %}
            <p class="text-small inline-block">
              score: <span class="text-pink" id="score-display"></span>
            </p>
          </div>
          {% endif %}
        </div>
        <h1>{{ page.title }}</h1>
        <p>{{ page.description }}</p>
      </div>
      <div class="game-area">{{ content }}</div>
    </div>

    {% include footer.html %}
  </body>
</html>
